{{define "layout.nav_auth"}}

		<nav class="navbar navbar-expand-sm bg-asphalt navbar-dark sticky-top">
		  <a class="navbar-brand" href="/"><img src="/assets/image/html-tag3.png" alt="Jack!" height="40px" width="auto"></a>
		  <ul class="navbar-nav">

		  	<li class="btn-group dropright">
			  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Auth
			  &nbsp;&nbsp;&nbsp;&nbsp;</button>
			  <ul class="dropdown-menu" role="menu">
			    <li class="nav-item"><a class="nav-link ft-dark" href="/auth/register/">regist</a></li>
			    <li class="nav-item"><a class="nav-link ft-dark" href="/auth/list/">users list</a></li>
    			<li class="dropdown-divider"></li>
			    <li class="nav-item"><a class="nav-link ft-dark" href="/auth/logout/">logout</a></li>
			  </ul>
		  	</li>
		  	&nbsp;&nbsp;&nbsp;&nbsp;
		  	<li title="bellow will not load anything on screen but terminal">
			  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Assembler
			  &nbsp;&nbsp;&nbsp;&nbsp;</button>
			  <ul class="dropdown-menu" role="menu">
			    <li class="nav-item"><a class="nav-link ft-dark" href="/asm/compiler-phases/scanner/">scanner</a></li>
			    <li class="nav-item"><a class="nav-link ft-dark" href="/asm/compiler-phases/parser/print">parser | print</a>
			    </li>
			    <li class="nav-item"><a class="nav-link ft-dark" href="/asm/compiler-phases/parser/inspect">parser | inspect</a>
			    </li>
			    <li class="nav-item"><a class="nav-link ft-dark" href="/asm/compiler-phases/code-generator">code generation</a></li>
			  </ul>
			</li>

			<!-- example: Function: Nearest Network | Chat Bot -->

		  </ul>
		</nav>
		<b class="bg-asphalt pad-full clr-emerald" style="float: right" id="date">today</b>
		<br><br><br><br>
		<div class="clearfix"></div>

		<script type="text/javascript">
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			if(dd<10) {
			    dd = '0'+dd
			} 
			if(mm<10) {
			    mm = '0'+mm
			} 
			today = mm + '/' + dd + '/' + yyyy;
			document.getElementById("date").innerHTML = today;
		</script>

{{end}}