{{template "layout.head"}}
{{if .message.auth}}
{{template "layout.nav_auth"}}
{{else}}
{{template "layout.nav"}}
{{end}}

<center>
	<div class="col-md-4"></div>

	<form action="/auth/registerx/" method="POST" class="col-md-4">
	  <div class="form-group">
	    <input type="text" name="name" placeholder="name" class="form-control">
	  </div>
	  <div class="form-group">
	    <input type="email" name="email" placeholder="email" class="form-control">
	  </div>
	  <div class="form-group">
	    <input type="password" name="password" placeholder="password" class="form-control">
	  </div>
	  <div class="form-group">
		  <label for="selection_1">Role :</label>
		  <select name="user_role" id="selection_1" class="form-control">
		    <option value="3">Reader</option>
		    <option value="2">Writer</option>
		    <option value="1">Admin</option>
		  </select>
		</div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<div class="col-md-4"></div>
</center>

{{template "layout.foot"}}